/* grid */
@grid-size: 4px;
@sections-padding: 8 * @grid-size;
@sidebar-width: 300px;
@info-block-width: 200px;

/* colors */
@text-primary: #000;
@sidebar-bg: #cecece;
@bg: #fafafa;

/* fonts */
@font-size-base: 14px;
